<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.MindMapper" >
    <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.Mind" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="con_name" property="con_name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
    id,con_name,content
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from mind
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="maxWorkID" resultType="java.lang.Integer" >
            select max(id) from mind
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mind
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertMap"  >
    insert into mind (con_name,content)
        values  (#{con_name,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR})


  </insert>
    <select id="getMapByPage" resultMap="BaseResultMap">
        select id,con_name,content from Mind
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select MAX(id) from Mind
    </select>
    <insert id="insertByPrimaryKey" parameterType="org.javaboy.vhr.model.Map" >
        insert into map
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="con_name != null" >
                con_name,
            </if>
            <if test="content!=null">
                content
            </if>
        </trim>

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.javaboy.vhr.model.Mind" >
        update mind
        <set >
            <if test="con_name!= null" >
                con_name = #{con_name,jdbcType=VARCHAR},
            </if>
            <if test="content!=null">
                content=#{content,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.javaboy.vhr.model.Mind" >
    update mind
    set con_name = #{con_name,jdbcType=VARCHAR},
        content=#{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>